<% include include/header %>
<div id="left-div" class="col-lg-12">
    <center>
        <h3><img src="images/houzio-logo.png" width="400px" /></h3>
    </center>
</div>
<div id="centeredDiv">
    <h1>order # euv201812412 </h1><br>
    order date: 09/23/2018 <br>
    Amount paid: $26.50<br><br>
</div>
<div id="centeredDiv">
    <h3>details:</h3>
    <table class="table" id="summary-table">
        <tr>
            <td><b>Address : </b></td>
            <td> 303 Dean St, West Chester, PA,19382<br></td>
        </tr>
        <tr>
            <td><b>person 1: </b></td>
            <td> John Smith, 10/20/1967<br></td>
        </tr>
        <tr>
            <td><b>person 2: </b></td>
            <td> Mary Smith, 02/10/1967<br></td>
        </tr>
        <tr>
            <td><b>age of home : </b></td>
            <td> 0-50 years<br></td>
        </tr>
        <tr>
            <td><b>age of roof: </b></td>
            <td> 0-10 years<br></td>
        </tr>
        <tr>
            <td><b>roof : </b></td>
            <td> flat<br></td>
        </tr>
        <tr>
            <td><b>alarm system: </b></td>
            <td> yes<br></td>
        </tr>
        <tr>
            <td><b>dog breed: </b></td>
            <td> none<br></td>
        </tr>
        <tr>
            <td><b>flood zone: </b></td>
            <td> no<br></td>
        </tr>
        <tr>
            <td><b>bundle: </b></td>
            <td> yes<br></td>
        </tr>
        <tr>
            <td><b>settlement date: </b></td>
            <td> 0-9 days<br></td>
        </tr>
        <tr>
            <td><b>credit score: </b></td>
            <td> 725 - 850<br></td>
        </tr>
    </table>
</div>
<div id="centeredDiv">
    <h3>e-sign status:<br>
        <font color="red">
    </h3>
    </font>
    <table class="table">
        <tr>
            <td>
                <font color="green"><span class="glyphicon glyphicon-ok-circle"></span></font>
            </td>
            <td>request sent to seller </td>
            <td><i>
                    <font color="green"> 9/26/2018</font>
                </i></td>
        </tr>
        <tr>
            <td></td>
            <td>seller approved request</td>
            <td><i> pending</i></td>
        </tr>
        <tr>
            <td></td>
            <td>report sent to <i>user's email</i> </td>
            <td><i> pending</i></td>
        </tr>

    </table>
</div>
<div id="centeredDiv">
    <h3>claim history:<br>
        <font color="red">
    </h3>
    </font>
    <table class="table">
        <tr>
            <td>04/12/2013 </td>
            <td><i>
                    <font color="red"> Fire</font>
                </i></td>
            <td>$32,002 </td>
        </tr>
    </table>
</div>
</div>
</div>
<% include include/footer %>